.caption{
    color: black;
    width: 100%;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Name{background-color: white;
padding: 15px;
padding-left: 10px;
}
.body {
    background-color: #e9e9e9;
    padding: auto;
}
   
.head1{
    background-color: white;
    padding: 15px; 
}
.head2{
    background-color: white;
    padding: 15px; 
   
}
.head3{
    background-color: white;
    padding: 15px; 
}
.body1{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-bottom: 2px;
    border-color: black;
}
.table{
    display: flex;
        justify-content: space-around;
}
.head{
    display: flex;
    justify-content: center;
    background-color: white;
}
thead {
    display: flex;
    justify-content: center;
}

tr {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.head3{
padding-left: 50px;
}
    