.caption{
    color: black;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
}
.body{
    background-color: #fdfdfd;
}
table{
    background-color: white;
}
.table{
    display: flex;
        justify-content: space-around;
}
.body1{
    width: 100%;
}
.body1{
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.091);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    padding-left: 1px;
    text-align: left;
    font-family: sans-serif;
}
.thead{
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.091);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-style: solid;
    padding-left: 1px;
    text-align: left;
    font-family: sans-serif;
}
.check{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
.button1{
    display: flex;
    justify-content: center;
    margin: 5px;
    font-family: sans-serif;
    border-radius: 20%;
}
.button{
    margin: 5px;
    font-family: sans-serif;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    border: 2px solid #d8d8d84a;
    width: 10%;
    outline: none;
    cursor: pointer;
}
    
table {
    border: 2px solid #d8d8d84a;
    border-radius: 10px;
    padding: 10px;
}