.caption{
    color: #723fa9;
    width: 100%;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.Name{background-color: beige;
border: 3px solid blueviolet;
padding: 15px;
}
.body {
    background-color: aliceblue;
}
.head1{
    background-color: beige;
    border: 3px solid blueviolet;
    border-right: none;
    padding: 15px; 
}
.head2{
    background-color: beige;
    border: 3px solid blueviolet;
    padding: 15px; 
    border-left: beige;
    border-right: beige;
}
.head3{
    background-color: beige;
    border: 3px solid blueviolet;
    border-left: beige;
    border-right: beige;
    padding: 15px; 
}
.head4{
    background-color: beige;
    border: 3px solid blueviolet;
    border-left: none;
    border-right: none;
    padding: 15px;  
}
.head5{
    background-color: beige;
    border: 3px solid blueviolet;
    border-left: none;
    padding: 15px; 
}
.body1{
    background-color: beige;
    padding: 20px;
    border-bottom: 3px solid rgba(85, 79, 79, 0.815);
}
.body2{
    background-color: beige;
    padding: 20px;
    border-bottom: 3px solid rgba(85, 79, 79, 0.815);
}

    